<mat-drawer-container class="example-container" autosize >
    <mat-drawer [opened]="opened" mode="side">
      <mat-list>
          <mat-list-item class="item mb-2" [routerLinkActive]="['active']" (click)="closeSidebar()" >
            <mat-icon color="primary" >dashboard</mat-icon>
        <a class="aa" style="cursor: pointer" routerLink="/dashboard">DashBoard</a>
          </mat-list-item>

        <mat-list-item *ngIf="userService.roleEqual(['ROLE_ADMIN'])" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >category</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/category">Category</a>
        </mat-list-item>

        <mat-list-item *ngIf="userService.roleEqual(['ROLE_ADMIN'])" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >menu_book</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/item">Item</a>
        </mat-list-item>

        <mat-list-item *ngIf="userService.roleEqual(['ROLE_ADMIN'])" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >storefront</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/branch">Branch</a>
        </mat-list-item>

        <mat-list-item *ngIf="userService.roleEqual(['ROLE_ADMIN'])" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >group</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/user">User Manage</a>
        </mat-list-item>

        <mat-list-item *ngIf="userService.roleEqual(['ROLE_BRANCHADMIN'])" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >menu_book</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/branch-item-manage">Branch Item</a>
        </mat-list-item>

        <mat-list-item *ngIf="isLogin()" class="item" [routerLinkActive]="['active']" (click)="closeSidebar()" >
          <mat-icon color="primary" >dinner_dining</mat-icon>
          <a class="aa" style="cursor: pointer" routerLink="/active-branch">Place Order</a>
        </mat-list-item>



      </mat-list>

    </mat-drawer>

    <mat-drawer-content>
      <div class="content">
        <router-outlet></router-outlet>

      </div>
    </mat-drawer-content>



  </mat-drawer-container>


