<div>
  <div class="row g-0 bg-body-secondary position-relative" style="height: auto">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img [src]="images1[imageIndexs]" class="w-100" alt="..." style="height: 350px">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h1 class="mt-0" style="color: purple">ABC Restaurant</h1>
      <p> “Discover a culinary adventure at ABC Restaurant, where we blend traditional flavors with innovative techniques to offer a dining experience like no other.”</p>
      <br/>
      <p>ABC Restaurant welcomes you and your loved ones to a warm, family-friendly atmosphere where every meal is crafted with care and designed to bring smiles to every face.”</p>

    </div>
  </div>

</div>

