<div class="pt-3 px-4" style="background-color: ghostwhite">
  <div class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center flex-fill">
      <i class="ph ph-squares-four" style="font-size: 40px; "></i>
      <h4 class="m-0">Update-Category</h4>
    </div>
  </div>
</div>

<div class="a">

  <div class="container mt-5">
    <div class="card" style="padding: 20px;">
      <form #categoryForm="ngForm" (ngSubmit)="createCategory(categoryForm)">
        <!-- Input with name attribute -->
        <input
          type="text"
          [(ngModel)]="category.name"
          name="name"
          id="name"
          placeholder="Category Name"
          class="form-control mb-3"
          required
        />
        <mat-error *ngIf="categoryForm.submitted && !categoryForm.controls['name']?.valid" class="text-danger">
          Category Name is required.
        </mat-error>

        <!-- Input with name attribute -->
        <input
          type="text"
          [(ngModel)]="category.description"
          name="description"
          id="description"
          placeholder="description"
          class="form-control mb-3 mt-2"
        />

        <div class="check-card p-3 br-16 border border-primary d-flex justify-content-between align-items-center gap-2 mb-4 bg-body-secondary">
          <div class="d-flex flex-column">
            <p>You can activate or deactivate Category .</p>
          </div>
          <mat-slide-toggle [(ngModel)]="category.isActive" name="isActive" id="isActive" (change)="toggleActiveClass($event)"></mat-slide-toggle>
        </div>

        <input
          type="submit"
          value="Update"
          class="btn btn-outline-primary form-control rounded-2"
        />
      </form>


    </div>

  </div>
</div>








