
<div class="pt-3 px-4" style="background-color: ghostwhite">
  <div class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center flex-fill">
      <i class="ph ph-squares-four" style="font-size: 40px; "></i>
      <h4 class="m-0">Branch Manage</h4>

    </div>
  </div>
</div>


<div class="box">

  <div class="page-container px-4">
    <div class="page-body">
      <div class="d-flex justify-content-end mb-5 mt-4" >
        <button class="btn btn-primary" (click)="createBranch()">
          Create a New Branch <i class="ph ph-plus ms-1"></i>
        </button>
      </div>
      <div>
      </div>

    </div>
  </div>
</div>
