<div class="pt-3 px-4" style="background-color: ghostwhite">
  <div class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center flex-fill">
      <i class="ph ph-squares-four" style="font-size: 40px; "></i>
      <h4 class="m-0">Branches</h4>

    </div>
  </div>
</div>


<div class="mt-5 " style="overflow: auto; max-height: 500px" >
  <div class="row">
  <div class="col-lg-3 col-sm-6" *ngFor="let bra of showBranches" (click)="selectBranch(bra)" style="cursor: pointer" >


  <div class="card zoom-card mb-4" style="width: 18rem;"  style="width: 18rem; background-color: ghostwhite;">
    <img src="/assets/3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{bra.name}}</h3>
      <h4>Location : {{bra.location}}</h4>
    </div>
  </div>
</div>
</div>
</div>
